*{
    padding: 0;
    margin: 0;
}
.top{
    height: 40px;
    background-color: #21ce7a;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 100;
    color: white;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxes{
    width: 150px;
    height: 200px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 10px silver;
    transition: 300ms all;
    background-position: center;
    background-size: cover;
    background-color: #21ce7a;
}
.box-content{
    background-color: white;
    padding: 30px 5px;
    text-align: center;
    width: 100%;
    transition: 300ms all;
}

.boxes:hover{
   transform: scale(1.1);
   cursor: pointer;
}

.boxes:hover .box-content{
    background-color: transparent;
    color: white;
}

/* start coding for footer */

.cont_footer{
    height: 200px;
    background-color: #21ce7a;
    margin-top: 18px;
}
nav ul{
    display: flex;
    justify-content: center;
}

#cont_image nav ul li a{
    color: #fff;
}
#cont_image nav ul li{
    list-style: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 2em;
    opacity: .75;
}
#cont_image nav ul :hover{
    transition: 300ms all;
    transform: translateY(-4px);
}



#cont_text nav ul li a{
    color: white;
    text-decoration: none;
}
#cont_text nav ul li{
    color: white;
    list-style: none;
    font-size: large;
    padding: 10px;
    
}
#cont_text nav ul :hover{
    transition: 300ms ;
    transform: scale(1.15);
    /* font-size: larger; */
    
}

@media screen and (max-width:300px){
    .top{
        font-size: 0.76em;
    }
}

@media screen and (max-width:500px){
    .box-content{
        background-color: white;
        padding: 30px 5px;
        text-align: center;
        width: 100%;
        transition: 300ms all;
        font-size: 0.85em;
    }
}
@media screen and (max-width:320px){
    .box-content{
        background-color: white;
        padding: 30px 5px;
        text-align: center;
        width: 100%;
        transition: 300ms all;
        font-size: 0.75em;
    }
}

/* let's create the annimation wave */


